<!DOCTYPE html>
<html>
<head>
<title>MongoDB | SignIn</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="modules/ngprogress/build/ngProgress.js"></script>
	<link rel="stylesheet" href="modules/ngprogress/ngProgress.css">
	<script src="angularjs/account.js"></script>
</head>
<body ng-app="LoginApp" ng-controller="signIn" class="full-body">
	<div class="row">
		<div class="col-md-4"></div>	
			<div class="col-md-4">	
			<div class="box">
				<div class="tabs">
					<h2>Hello !!</h2>
					<h4>Please Login in to your account</h4>
				</div>
				<div class="account-form">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="username" id="email" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="pwd" ng-model="password" placeholder="Password">
					</div>
					<div class="alert alert-danger" ng-hide="invalid_login">
						<strong>Incorrect username or password</strong>
					</div>
					<div class="alert alert-danger" ng-hide="unexpected_error">
						<strong>Unexpected error, try again</strong>
					</div>
					<input type="submit" class="btn btn-primary form-control account-button" ng-click="signIn()" value="Sign in">
					<div class="row checkbox">
						<div class="col-md-6">
							<label for="stay-signed-in" class="stay-signed-in">
								<input type="checkbox" id="stay-signed-in" class="stay-signed-in-checkbox" ng-enter="signin()">
									Stay signed in
							</label>
						</div>
					</div>
					<div class="foot">
						<h4 ng-click="create()">Create an account</h4>
					</div>
				</div>
			</div>
			</div>		
		<div class="col-md-4"></div>
	</div>
</body>
</html>